@charset "utf-8"
@import '~bulma/bulma.sass'
@import '~bulma-timeline'
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap')
@import url('http://fonts.cdnfonts.com/css/sf-compact-display')
@import "~react-loader-spinner/dist/loader/css/react-spinner-loader.css"


body
  font-family: Spectral, -apple-system, Helvetica, sans-serif
.page-wrapper
  display: flex
  min-height: 100vh
  flex-direction: column
.content-wrapper
  flex: 1
.custom-nav
  border-bottom: 1px solid #f6e7df
  height: 84px
  display: flex
  align-items: center
.is-active-panel
  position: absolute
  right: 60px
  top: 45px
  border-radius: 8px
.is-active-search
  border: none
  box-shadow: none
.nav-link:active,
.nav-link:hover,
.nav-link:focus-within
  color: #1c110b !important
.logo-styles
  height: 24px
  align-self: center
.sign-style
  color: #4a4a4a
  font-weight: bold
  margin-left: 12px
.header-search
  border-color: #C3C6CD
::placeholder
  color: #C3C6CD !important
.errorMessage
  color: red
  text-align: center
  margin-top: 20px
.custom-loader
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)


// Customise the timeline
.timeline.is-centered .timeline-item.is-primary::before
  background-color: #fd6851
.timeline .timeline-item .timeline-marker.is-primary
  background-color: white !important
  border-color: #fd6851 !important
.timeline .timeline-item .timeline-content
  padding: 1em 0 0 4em
.timeline .timeline-item
  padding-bottom: 4em
.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-content
  padding: 1em 4em 0 0
.timeline-image
  width: 100%
  height: 100%
.article-image
  background-position: center !important
  background-size: cover !important
  cursor: pointer
.timeline-header-custom
  background-color: white !important
  color: black !important
  border: 1px solid #fd6851 !important
  position: relative
  margin-bottom: 32px
  cursor: pointer
  height: 34px !important
.timeline-header-custom::before
  content: ""
  height: 34px
  position: absolute
  top: 32px
  width: 1px
  background-color: #fd6851

// Style manage buttons & article
.manage-buttons
  padding-top: 5px
.manage-buttons-btn
  width: 80px
  height: 20px
  background-color: white
  color: grey
  border: 1px solid grey
  border-radius: 2px
  font-weight: 300
  cursor: pointer
  outline: none
.manage-buttons-btn:not(:first-of-type)
  margin-left: 12px
.heading
  font-size: 12px
  text-transform: none

// Style header component
.header-main
  padding-top: 90px
.header-title
  font-size: 2rem
  font-weight: bold
  font-family: SF Compact display, sans-serif
.header-p
  margin: 24px 0
  max-width: 455px
  color: #1c110b
  font-size: 20px
  line-height: 30px
  font-weight: bold
.header-button
  width: 140px
  height: 40px
  background-color: #fd6851
  color: white
  border: none
  border-radius: 3px
  display: block
  text-align: center
  padding: 8px
  font-weight: bold
.header-button:hover
  color: white

// Landing Component
.landing-main
  width: 100%
  margin-top: 60px
  display: grid
  grid-template-columns: 2fr 1fr
  grid-column-gap: 50px
.landing-pub-header, .landing-cat-title
  font-weight: bold
  font-size: 1.4rem
.landing-cat-cat
  padding: 2.1rem 0 0 0
  display: flex
  flex-wrap: wrap
.cat-button
  height: auto
  margin: 0 8px 8px 0
  border-style: solid
  border-radius: 3px
  border-width: 1px
  padding: 8px 16px 8px
  color: #78706c
  background-color: white
  border-color: #d8d8d8
  font-weight: bold
  cursor: pointer
.cat-button:focus
  outline: none
.cat-button.active
  background-color: #58504b
  border-color: #58504b
  color: white
.landing-publication
  display: flex
  padding: 1.75rem 0 0 0
  align-items: flex-start
  text-decoration: none !important
  max-width: 584px
.landing-publication-content
  width: 100%
  display: flex
  padding-bottom: 1.75rem
  border-bottom: 1px solid #e5e5e5
.landing-pub-icon
  flex-shrink: 0
  min-width: 0
  max-width: none
  width: 80px
  margin-right: 20px
.landing-publication-title
  font-size: 20px
  line-height: 30px
  font-weight: 600
  color: #1c110b
.landing-publication-author
  margin-top: 3px
  font-weight: 500
  font-size: 14px
  line-height: 21px
  color: #1c110b
.landing-publication-description
  margin-top: 0.75rem
  font-size: 16px
  line-height: 24px
  color: #58504b


// Footer
.footer
  background-color: #f8f8f8
  margin-top: 40px
  height: 70px !important
  padding: unset
  display: flex
  justify-content: center
  align-items: center

// Sign Page
.sign-fancy-input
  max-width: 750px
  margin: 0 auto
.sign-fancy-input input
  padding: 20px 10px
  border: none
  border-bottom: 1px solid #f6e7df
  background: white
  color: #1a1a1a
  display: block
  width: 100%
  font-size: 16px
  font-family: -apple-system, sans-serif
  border-radius: 0
  box-sizing: border-box
  margin: 0 auto
.sign-wrapper
  margin-top: 100px
.sign-buttons
  text-align: center
  margin-top: 30px
.sign-submit
  width: 140px
  height: 40px
  border: none
  border-radius: 3px
  background-color: #fd6851
  margin-right: 35px
  color: white
.sign-span
  text-decoration: underline
  color: black
  font-size: 18px
  font-weight: bold
.sign-login-option
  color: black
  font-size: 18px
  font-weight: bold

// Styles for create form
.create-buttons
  margin-top: 12px
.label-modal
  color: white !important
.create-submit-btn
  background-color: #fd6851
  border: none
  color: white
.create-cancel-btn
  background-color: white
  border: none
  color: #fd6851
select:invalid
  color: #c3c6cc
.file-name-danger
  border-color: #f14668 !important

// Style profile page
.form-profile
  margin-top: 6rem
.form-profile input:active,
.form-profile input:focus
  border-color: #b5b5b5
  box-shadow: none
.profile-image-wrap
  width: 60px
  height: 60px
  margin: 0 auto
.profile-image
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border-radius: 50%

// Style delete card
.delete-buttons
  justify-content: center
.card-content-delete
  text-align: center

// Style alerts
.is-success-alert
  background: #48c78e !important
  color: white !important
  opacity: 0.8
